<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="coms.first.membership">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".myApplication"
        android:allowBackup="true"
        android:debuggable="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="HardcodedDebugMode">
        <activity android:name=".presApproved_List"></activity>
        <activity android:name=".pending_NonMembers" />
        <activity android:name=".superAdmin" />
        <activity android:name=".viewUsers" />
        <activity android:name=".adminProfile" />
        <activity android:name=".sharingID" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name=".activityFacebook" />
        <activity android:name=".membershipForm" />
        <activity android:name=".viewCard" />
        <activity android:name=".memberEditData" />
        <activity android:name=".approved_list_details" />
        <activity android:name=".pending_list_details" />
        <activity android:name=".approved_list" />
        <activity android:name=".pending_list" />
        <activity android:name=".splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".admin" />
        <activity android:name=".EditProfile" />
        <activity android:name=".Login" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Register" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider1490678764464575"
            android:exported="true" />
    </application>

</manifest>